/.idea/
/node_modules/
/prisma/src/generated/client/runtime/edge.js
/prisma/src/generated/client/runtime/edge-esm.js
/prisma/src/generated/client/runtime/index-browser.d.ts
/prisma/src/generated/client/runtime/index-browser.js
/prisma/src/generated/client/runtime/library.d.ts
/prisma/src/generated/client/runtime/library.js
/prisma/src/generated/client/edge.d.ts
/prisma/src/generated/client/edge.js
/prisma/src/generated/client/index.d.ts
/prisma/src/generated/client/index.js
/prisma/src/generated/client/index-browser.js
/prisma/src/generated/client/package.json
/prisma/src/generated/client/query_engine-windows.dll.node
/prisma/src/generated/client/schema.prisma
/prisma/dev.db
/prisma/dev.db-journal
